@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/*----------texto maquina de escribir------------*/
.hidden {
  opacity:0;
}
.console-container {
	font-size:3em;
	text-align:center;
	height:200px;
	width:600px;
	display:block;
	position:absolute;
	color:#EEFCFC;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/*----------scroll down (flecha abajo)------------------*/
.arrow-down{
	width:60px;
	height:40px;
	margin:0 0 0 -30px;
	position:absolute;
	left:50%;
	bottom:0px;
	-webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
  }
  
  .arrow-down:hover{
	 -webkit-animation-play-state: paused;
  }
  
  .izquierda{
	position:absolute;
	height:10px;
	width:40px;
	background:#EEFCFC;
	-webkit-transform:rotate(240deg);
	top:10px;
	left:10px;
	-webkit-border-radius:4px;
	-webkit-transform-origin:5px 50%;
	-webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
  }
  
  .derecha{
	position:absolute;
	height:10px;
	width:40px;
	background:#EEFCFC;
	-webkit-transform:rotate(-60deg);
	top:10px;
	left:10px;
	-webkit-border-radius:4px;
	-webkit-transform-origin:5px 50%;
	-webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
  }
  
  @-webkit-keyframes arrow{
	0% {
	  bottom:0px;
	}
	100%{
	  bottom:40px;
	}
  }
  
  @-webkit-keyframes leftArrow{
	0% {
	}
	100%{
	  -webkit-transform:rotate(225deg);
	}
  }
  
  @-webkit-keyframes rightArrow{
	0% {
	}
	100%{
	  -webkit-transform:rotate(-45deg);
	}
  }
  
/*----------Portada pagina ppal------------------*/
.presentacion{
	font-family: 'Share Tech', sans-serif;
	font-weight: bolder;
	font-size: 10rem;
}

.seccion-con-imagen {
	background-image: url(/img/fondo.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh; /* Establece la altura de la sección como el 100% del alto de la ventana del navegador */
	display: flex;
	justify-content: center;
	padding-top: 10%;
	width: 100%;
	z-index: 100000;
}

@media (max-width: 576px) {
	.presentacion{
		font-size: 5rem;
	}}

@media (max-width: 992px) {
	.presentacion{
		font-size: 7rem;
	}}

@media (max-width: 1200px) {
	.presentacion{
		font-size: 8rem;

	}}
	
/*-------------------Botones------------------------*/


.mi-btn {
	background-color: #006666;
	border-color: #FF6600;
	color: #EEFCFC; /* Color del texto durante el hover */
	border-radius: 30px;
	padding: 10px 20px;
	font-size: large;
	width: 140px;
  }
  
  .mi-btn:hover {
	background-color:#FF6600; /* Color de fondo durante el hover */
	color: #EEFCFC; /* Color del texto durante el hover */
	border-color:#006666;
  }
  
  .blog-item {
	max-height: 150px !important;
	overflow-y:hidden;
	overflow-x: hidden;
  }

/*----------------------portafolio--------------------------*/

  .portfolio-item .portfolio-btn {
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 4px;
	opacity: 0;
	transition: .5s;
  }
  
  .portfolio-item:hover .portfolio-btn {
	opacity: 1;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	top: 30px;
	left: 30px;
  }

  .card-link .card {

	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
  }

  .card-link:hover .card {
	transform: scale(1.05);
	box-shadow: 0 4px 8px #FF6600 ;
	transition: transform 0.2s, box-shadow 0.2s;
  }

/*------------------------bootstrap-navbar-css------------------*/
.navbar-logo{
	padding: 15px;
	color: fff;
}
.navbar-mainbg{
	background-color: #006666 ;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #006666 ;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: 'Share Tech', sans-serif;
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #EEFCFC;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #EEFCFC;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #006666 ;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}

@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}



/*------------------------Footer------------------*/

.footer-basic {
	padding:40px 0;
	background-color:#006666;
	background-image: url(/img/fondo.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	color:#EEFCFC;
  }
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 10px;
  }
  
  .footer-basic ul a {
	color:inherit;
	font-size: larger;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-basic ul a:hover {
	opacity:1;
	color: #FF6600;
  }
  
  .footer-basic .social {
	text-align:center;
	padding-bottom:25px;
  }
  
  .footer-basic .social > a {
	font-size:24px;
	width:60px;
	height:60px;
	line-height:60px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid #006666;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
	opacity:0.9;
	color: #FF6600;
  }
  
  .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#EEFCFC;
	margin-bottom:0;
  }
  


/*------------------------Correo enviado------------------*/

  
.panel{
	position: absolute;
	top:0;
	left:0;
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	width: 100%;
	transition: transform 300ms;
	z-index:-1;
	}
	.panel div{  
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	background: beige;
	width: 400px;
	height:400px;
	z-index:1000;
	}
	.panel[data-on='on'] 
	{
	transform: scale(1);
	}
	.panel[data-on='off'] 
	{
	transform: scale(0);
	}